body{
    line-height: 2em;
    text-align: center;
}
header{
    background-color: rgb(48, 43, 43);
    height: 14vh;
    width: 100%;
    text-align: end; 
    border-bottom: crimson 3px solid;
    position: fixed;
}
#navbar a{
    color:#001242 ;
    text-decoration: none;
    font-family: 'Newsreader', serif;
    font-size: 21px;
    color: cornsilk;
}
#navbar a:hover{
    color: crimson;
    text-decoration: underline;
}
#link{
    margin-top: 30px;
}
#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Reggae One', cursive;
    height: 100vh;
    background-color: rgb(42, 165, 93);
    color:rgb(197, 192, 126);
}
#welcome{
    padding-top: 70px;
}
#welcome P{
    color:crimson;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
h1{
    font-size: 45px;
}
#projects{
    display: flex;
    flex-direction: column;
    color: cornsilk;
    background-color: rgb(31, 70, 70);
}
.in a{
    color: cornsilk;
    text-decoration: none;
}
.in a:hover{
    text-decoration: underline;
    color: crimson;
}
.title-underground{
    width: 80%;
    height: 5px;
    margin: 0 auto;
}
#social-media{
    background-color:rgb(71, 8, 107);
    color: cornsilk;
    border-bottom: crimson 3px solid;
    min-height: 72vh;
    padding-top: 10px;
}
.med{
    color: cornsilk;
}
.social-account {
   display: flex;
   justify-content: center;
   width: 100%;
   flex-wrap: wrap;
   margin-top: 30px;
}
.ad{
    padding: 20px;
}
.ad a{
    text-decoration: none;
    color: cornsilk;  
}
span{
    padding: 5px;
}
footer{
    background-color: rgb(71, 8, 107);
    color: cornsilk;
}
.ad :hover{
    color:rgb(124, 111, 111);
    text-decoration: underline;
}
img:hover{
    border: crimson 2px solid;
}