body{
    line-height: 2em;
    text-align: center;
}
header{
    background-color: #0094C6;
    height: 14vh;
    width: 100%;
    text-align: end; 
    border-bottom: #001242 2px solid;
    position: fixed; 
}
#navbar a{
    color:#001242 ;
    text-decoration: none;
    font-family: 'Newsreader', serif;
    font-size: 24px;
}
#link{
    margin-top: 20px;
}
#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: brown;
    color: cornsilk;
}
#welcome{
    padding-top: 70px;
}
h1{
    font-size: 35px;
}
h2{
    color: cornsilk;
}
#projects{
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 70, 70);
}
.title-underground{
    width: 420px;
    height: 10px;
    margin: 0 auto;
}